/* index.module.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
}

/* Скрываем инпут */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74a42;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1.4s;
  z-index: 1;
  overflow: hidden;
}

.slider:before,
.slider:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
}

.slider:before {
  transition: 0.4s;
}

.slider:after {
  transition: 0.5s;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  border-radius: 40px;
  transition: all 1.4s;
  background-color: transparent;
}

.wave:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 20%;
  width: 60px;
  height: 3px;
  background: #ffffff;
  border-radius: 100%;
  opacity: 0.4;
}

.wave:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30%;
  width: 35px;
  height: 2px;
  background: #ffffff;
  border-radius: 100%;
  opacity: 0.3;
}

/* Стили для checked состояния - используем глобальный селектор для input */
.switch input:checked + .slider {
  background-color: transparent;
}

.switch input:checked + .slider:before,
.switch input:checked + .slider:after {
  transform: translateX(70px);
}

.switch input:checked ~ .wave {
  display: block;
  background-color: #3398d9;
}
