/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}
body {
  font-family: "Inter Tight", sans-serif;
  color: #000704;
}
.first {
  padding-top: 130px;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  padding: 0 150px;
}
.first__wrapper {
  display: flex;
  gap: 30px;
}
.item {
  max-width: 360px;
  border-bottom: 2px solid #00ac6d;
  padding: 0px 0px 20px;
  position: relative;
}
.item__img {
  margin-bottom: 20px;
}
.item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.item__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #7f8381;
}
.item__icons {
  display: flex;
  position: absolute;
  bottom: 126px;
  right: 28px;
  gap: 10px;
}
.item__icon-wrapper {
  display: block;
  border-radius: 50%;
  background-color: red;
  width: 32px;
  height: 32px;
  align-content: center;
  justify-items: center;
}
