*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}
body {
  color: #205529;
  font-weight: 500;
}
.wrapper__banner-content {
  padding: 64px 0;
}
.banner-content {
  margin: 0 auto;
  max-width: 480px;
  border-radius: 12px;
  padding: 40px 28px;
  background-color: #faf2e6;

  text-align: center;
}
.special {
  font-size: 12px;
  line-height: 132%;
  border: 1px solid #205529;
  border-radius: 4px;
  padding: 3px 7px;
  display: inline-block;
  margin-bottom: 12px;
}
.heading {
  padding-bottom: 20px;
}
h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 108%;
  margin-bottom: 12px;
}
p {
  font-size: 14px;
  line-height: 136%;
}
button {
  padding: 12px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  color: #faf2e6;
  background: #205529;
  border-radius: 6px;
  border: none;
}
.descr {
  margin-bottom: 20px;
}
