*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.plans {
  background: #070707;
  padding: 436px 0 437px;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
.plans__wrapper {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.plans__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 14px;
}
.plans__description {
  margin: 0 auto;
  max-width: 515px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
}
.plans__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.plan {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 24px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.22);
}
.plan__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.plan__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 12px;
}
.plan__title_pro {
  font-family: "Inter Tight", sans-serif;
}
.plan__premium {
  grid-column: 1/3;
  backdrop-filter: blur(16px);
  box-shadow: inset 4px 4px 12px 0 rgba(255, 255, 255, 0.4);
  background: #f5aa21;
  color: #070707;
}
