*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  max-width: 100%;
  display: block;
}
html {
  font-family: "Inter", sans-serif;
}
.tile {
  border-radius: 25px;
  padding: 70px 40px;
  width: 320px;
  height: 420px;
  box-shadow:
    -1px 2px 3px 0 rgba(0, 0, 0, 0.03),
    -4px 7px 7px 0 rgba(0, 0, 0, 0.04),
    -10px 18px 13px 0 rgba(0, 0, 0, 0.05),
    -18px 34px 25px 0 rgba(0, 0, 0, 0.07),
    -31px 58px 47px 0 rgba(0, 0, 0, 0.08),
    -48px 89px 80px 0 rgba(0, 0, 0, 0.11);
  background: #485c46;
}
.tile__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 121%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.tile__wrapper-descr {
  width: 250px;
  height: 192px;
  text-align: center;
}
.tile__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.tile__button {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 16px 23px;
  width: 185px;
  height: 50px;
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  color: #485c46;
}
.tile_white {
  border-radius: 25px;
  padding: 35px;
  width: 294px;
  height: 414px;
  background: #f6f9fc;
}
.tile__img {
  margin: 0 auto;
  margin-bottom: 25px;
}
.tile__title_black {
  color: #343a40;
  margin-bottom: 25px;
}
.tile__wrapper-descr_white {
  width: 224px;
  height: 180px;
}
.tile__descr_black {
  color: #343a40;
}
.tile__button_white {
  border: 2px solid #485c46;
  border-radius: 6px;
  padding: 10px 14px;
  width: 120px;
  height: 38px;
}
